body{
    background-image: url(/PNG/fondo.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  
  
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

img {
  height: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

/* Fondo borroso */
header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(tu_fondo.jpg) no-repeat center center fixed;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}
